////////////////////////
// My code starts here

$color-1: #6528F7;
$color-2: #f4effe;
$color-3: #D7BBF5;
$color-4: #EDE4FF;
$color-5: #783eff;
$text-color-1:#EDE4FF;

ul{ list-style: none; padding: 0; }
p{ margin:0 }
body{ background-color: #f1f1f1; }
a{ color: none; }
.container{ background-color: white; padding-bottom: 10px ; }

.main-bar{
    display: flex;
    align-items: center;
    background-color: $color-1;
    .page-title{
        margin: 0;
        color: $text-color-1;
        font-size: 20px;
        padding: 6px 10px;
        flex-grow: 1;
    }
    .tool{
        padding-right: 10px;
        a{ color: $text-color-1; }
        a:hover{ color: $color-3 }
    }
}

.blog{
    background-color: $color-5;
    color: $text-color-1;
    text-align: center;
    padding: 12px 20px;
    padding-top: 6px;
    .blog-title{ font-size: 28px; }
    .blog-subtitle{ padding: 0 40px }
    .blog-author{ font-size: 14px; font-style: italic; }
}

.article-item{
    padding: 12px 6px;
    background-color: $color-4;
    margin-bottom: 20px;
    .article-title{ font-size: 22px; font-weight: bold; }
    .article-author{ font-size: 14px; font-style: italic; }
    .article-dates{ font-size: 12px; margin-bottom: 6px; }
}

.article-dates-edit{ text-align: center; font-size: 14px; margin: 6px 0; }
.form-label{ font-weight: bold; }

.article{
    margin-top: 12px;
    background-color: $color-2;
    padding: 10px;
    .article-title{ font-weight: bold; font-size: 28px; }
    .article-subtitle{ font-style: italic; font-size: 14px; }
    .article-author{ font-size: 16px; }
    .article-dates{ font-size: 14px; margin: 6px 0; margin-bottom: 10px; }
    .article-text{ margin-bottom: 10px; }
}

.comment{
    background-color: $color-2 ;
    margin-bottom: 16px;
    padding: 8px;
    .name{ font-weight: bold; }
    .date{ font-size: 12px; }
}

////////////////////////
// My code ends here


