<!-- ********************
My code starts here
***********************-->
    </div>
</body>
</html>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/dc026d6440.js" crossorigin="anonymous"></script>
<!-- ********************
My code ends here
***********************-->